body{
    font-family: 'Noto Sans', sans-serif;
    color: gray;
    margin: 0%;
    padding: 0%;
}
.section-banner{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.text-color{
    color: tomato;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    margin-top: 50px;
    width: 800px;
}
.half-width h1{
    margin-top: 250px;
}
.half-width h2{
    margin-top: 250px;
}
.half-width a{
    margin-top: 50px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, rgb(235, 110, 65));
    padding: 12px 40px;
    border-radius: 60px;
    display: inline-block;  
    box-shadow: 5px 5px 10px gray;
}
#second-section{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100%;
    height: 910px;
}
#about-me{
    color: black;
    width: 80%;
}
.centre-text{
    text-align: center;
}
.third-section{
    
}
.third-section p{
    padding-left: 25%;
    padding-right: 25%;
}
#total-box{
    display: flex;
    margin-bottom: 250px;
    margin-top: 70px;
}
.recipe-box{
    margin-left: 3%;
    margin-right: 3%;
    width: 27%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
}
#total-box h3{
    font-size: 30px;
    color: black;
    font-weight: 800px;
}
.recipe-box p{
    padding: 0;
    color: black;
}
.recipe-box img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}
#bottom-box{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 150px;
    padding-left: 70px;
    color: black;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;
    display: flex;
}
.bottom-box-item{
    margin-left: 150px;
    margin-right: 150px;
    width: 13.33%;
    margin-bottom: 0;
    
}
.bottom-box-item h1{
    margin-bottom: 0;
    margin-top: 35px;
}
.bottom-box-item p{
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 13px;
}